/* Ορίζει στυλ για το στοιχείο φόρμας (form) */
form {
    position: relative;  /* Τοποθετεί το στοιχείο φόρμας σε σχετική θέση */
	width: 74%;  /* Ορίζει το πλάτος της φόρμας στο 74% του διαθέσιμου χώρου */
	max-width: 677px;  /* Ορίζει μέγιστο πλάτος στα 677px για μεγαλύτερες οθόνες */
	margin: 12px auto;  /* Κεντράρει τη φόρμα και προσθέτει 12px περιθώριο επάνω και κάτω */
	padding: 70px;  /* Προσθέτει 70px padding μέσα στη φόρμα */
	background-color: #34012b;  /* Ορίζει το φόντο της φόρμας σε σκούρο μοβ */
    box-shadow: 0 0 10px rgba(26, 0, 16, 0.1);  /* Προσθέτει σκιά γύρω από τη φόρμα */
}

/* Στυλ για το h1 (τίτλος) */
h1 {
    text-align: center;  /* Κεντράρει τον τίτλο οριζόντια */
    margin-top: 20px;  /* Προσθέτει περιθώριο 20px στην κορυφή */
}

/* Στυλ για το h3 (υπότιτλος) */
h3 {
    text-align: center;  /* Κεντράρει τον υπότιτλο οριζόντια */
    margin-top: 20px;  /* Προσθέτει περιθώριο 20px στην κορυφή */
}

/* Στυλ για τις ετικέτες των πεδίων της φόρμας */
form label {
	display: block;  /* Εμφανίζει την ετικέτα ως μπλοκ στοιχείο */
	margin-bottom: 8px;  /* Προσθέτει 8px περιθώριο κάτω από την ετικέτα */
	font-weight: bold;  /* Ορίζει την ετικέτα σε έντονη γραφή */
}

/* Στυλ για τα πεδία κειμένου και τα κουμπιά της φόρμας */
form input[type="text"],
form button {
	width: calc(100%);  /* Ορίζει το πλάτος στο 100% του διαθέσιμου χώρου */
	padding: 10px;  /* Προσθέτει 10px padding μέσα στα πεδία */
	margin-bottom: 15px;  /* Προσθέτει περιθώριο 15px κάτω από κάθε πεδίο */
	border-radius: 5px;  /* Προσθέτει καμπυλότητα 5px στα άκρα */
	border: 3px solid #ffffff;  /* Ορίζει το περίγραμμα των πεδίων σε λευκό χρώμα */
	font-size: 16px;  /* Ορίζει το μέγεθος της γραμματοσειράς στα 16px */
}

/* Στυλ για τα κουμπιά της φόρμας */
form button {
	background-color: #45083adf;  /* Ορίζει το φόντο των κουμπιών σε μοβ */
	color: #ffffff;  /* Ορίζει το χρώμα του κειμένου σε λευκό */
	cursor: pointer;  /* Αλλάζει τον κέρσορα σε χέρι όταν ο χρήστης περάσει πάνω από το κουμπί */
	transition: background-color 0.3s ease;  /* Προσθέτει ομαλή μετάβαση στο φόντο όταν γίνεται hover */
}

/* Στυλ για τα κουμπιά κατά το hover */
form button:hover {
	background-color: #92bd6e;  /* Αλλάζει το φόντο σε ανοιχτό πράσινο όταν ο χρήστης περνάει το ποντίκι πάνω από το κουμπί */
}

/* Στυλ για το μήνυμα σφάλματος της φόρμας */
form #errorMessage {
	margin-top: 10px;  /* Προσθέτει περιθώριο 10px στην κορυφή του μηνύματος */
}

/* Στυλ για τους πίνακες (tables) */
table {
    width: 50%;  /* Ορίζει το πλάτος του πίνακα στο 50% του διαθέσιμου χώρου */
    margin-top: 20px;  /* Προσθέτει περιθώριο 20px στην κορυφή του πίνακα */
    border-collapse: collapse;  /* Καταργεί τα κενά ανάμεσα στα κελιά του πίνακα */
    background-color: #45083adf;  /* Ορίζει το φόντο του πίνακα σε μοβ */
}

/* Στυλ για τα κελιά του πίνακα (th, td) */
th, td {
    border: 1px solid #ffffff;  /* Προσθέτει λευκά περιγράμματα στα κελιά */
    padding: 4px;  /* Προσθέτει padding 4px μέσα στα κελιά */
    color: #ffffff;  /* Ορίζει το χρώμα του κειμένου σε λευκό */
}

/* Στυλ για τα κελιά κεφαλίδας του πίνακα */
th {
    background-color: #45083adf;  /* Ορίζει το φόντο της κεφαλίδας του πίνακα σε μοβ */
}

/* Προσαρμογή για μικρές οθόνες */
@media (max-width: 768px) {
	.form {
		max-width: 100%;  /* Ορίζει τη φόρμα να καταλαμβάνει το 100% του πλάτους σε μικρές οθόνες */
	}
}
