/* Στυλ για τα κουμπιά φίλτρων */
.filter-buttons {
    margin: 10px;  /* Ορίζει εξωτερικό περιθώριο 10px γύρω από τα κουμπιά */
    text-align: center;  /* Κεντράρει τα κουμπιά στην οριζόντια κατεύθυνση */
}

.filter-buttons button {
    background-color: #4CAF50;  /* Ορίζει το χρώμα του φόντου των κουμπιών σε πράσινο (#4CAF50) */
    border: none;  /* Καταργεί το πλαίσιο των κουμπιών */
    color: white;  /* Ορίζει το χρώμα του κειμένου των κουμπιών σε λευκό */
    padding: 10px 20px;  /* Ορίζει εσωτερικό περιθώριο 10px στο πάνω/κάτω και 20px στα πλάγια */
    text-align: center;  /* Κεντράρει το κείμενο μέσα στο κουμπί */
    text-decoration: none;  /* Αφαιρεί την υπογράμμιση από το κείμενο των κουμπιών (εάν θεωρούνται σύνδεσμοι) */
    display: inline-block;  /* Κάνει τα κουμπιά να εμφανίζονται σε σειρά, διατηρώντας την ιδιότητα block */
    font-size: 16px;  /* Ορίζει το μέγεθος της γραμματοσειράς σε 16px */
    margin: 4px 2px;  /* Προσθέτει περιθώριο 4px στο πάνω/κάτω και 2px στα πλάγια των κουμπιών */
    cursor: pointer;  /* Αλλάζει τον κέρσορα σε 'χέρι' όταν ο χρήστης περνάει πάνω από το κουμπί */
    border-radius: 5px;  /* Στρογγυλεύει τις γωνίες των κουμπιών με ακτίνα 5px */
}

.filter-buttons button:hover {
    background-color: #45a049;  /* Αλλάζει το χρώμα φόντου των κουμπιών όταν ο χρήστης περνάει πάνω από αυτά σε πιο σκούρο πράσινο (#45a049) */
}

/* Στυλ για τον πίνακα πληροφοριών μαρκαδόρων */
#markerInfoTable {
    display: none;  /* Αρχικά ο πίνακας είναι κρυμμένος */
    margin-top: 20px;  /* Προσθέτει 20px περιθώριο στην κορυφή του πίνακα */
    border-collapse: collapse;  /* Καταργεί τα κενά μεταξύ των κελιών του πίνακα */
    width: 30%;  /* Ορίζει το πλάτος του πίνακα στο 30% του γονικού στοιχείου */
}

#markerInfoTable th,
#markerInfoTable td {
    border: 1px solid #a63232;  /* Ορίζει ένα πλαίσιο 1px με κόκκινο χρώμα (#a63232) για τα κεφαλίδα και τα κελιά */
    text-align: left;  /* Ορίζει την ευθυγράμμιση του κειμένου στα αριστερά */
    padding: 8px;  /* Προσθέτει εσωτερικό περιθώριο 8px μέσα στα κελιά */
}

#markerInfoTable th {
    background-color: #32a64d;  /* Ορίζει το χρώμα φόντου της κεφαλίδας του πίνακα σε πράσινο (#32a64d) */
}

/* Στυλ για το στοιχείο του χάρτη */
#map {
    height: 500px;  /* Ορίζει το ύψος του χάρτη σε 500px */
    margin: 0 auto;  /* Κεντράρει το χάρτη οριζόντια με αυτόματο περιθώριο */
    max-width: 900px;  /* Ορίζει το μέγιστο πλάτος του χάρτη στα 900px */
    margin-bottom: 20px;  /* Προσθέτει 20px περιθώριο στο κάτω μέρος του χάρτη */
}

/* Στυλ για το κύριο τμήμα του σώματος της σελίδας */
#bd {
    display: flex;  /* Χρησιμοποιεί τη Flexbox για την διάταξη των στοιχείων */
    flex-direction: column;  /* Τα στοιχεία τοποθετούνται το ένα κάτω από το άλλο σε κατακόρυφη διάταξη */
    align-items: center;  /* Κεντράρει τα στοιχεία οριζόντια */
    justify-content: center;  /* Κεντράρει τα στοιχεία κατακόρυφα */
    height: 100%;  /* Ορίζει το ύψος του τμήματος στο 100% του διαθέσιμου χώρου */
    margin: 0;  /* Καταργεί τα εξωτερικά περιθώρια του τμήματος */
}
