#map {
    height: 500px;
    margin: 0 auto;
    width: 900px;
}

#task-info-box {
    display: none;
    /* Αρχικά κρύβει το στοιχείο #task-info-box, ώστε να μην εμφανίζεται στην αρχή της σελίδας. */
  
    position: absolute;
    /* Τοποθετεί το κουτί με απόλυτη θέση σε σχέση με το κοντινότερο στοιχείο που έχει σχετική ή απόλυτη θέση. */
  
    top: 600px;
    /* Το κουτί θα εμφανιστεί 600px κάτω από την κορυφή του περιβάλλοντος στο οποίο ανήκει (π.χ. της σελίδας ή άλλου στοιχείου). */
  
    left: 50%;
    /* Το κουτί τοποθετείται στη μέση της σελίδας από την αριστερή του πλευρά (50% του πλάτους της σελίδας). */
  
    transform: translateX(-50%);
    /* Χρησιμοποιείται για να κεντράρει απόλυτα το κουτί, μετατοπίζοντάς το 50% προς τα αριστερά από τη θέση του. */
  
    width: 300px;
    /* Ορίζει ένα σταθερό πλάτος για το κουτί, 300px. */
  
    padding: 20px;
    /* Προσθέτει 20px εσωτερικό περιθώριο γύρω από το περιεχόμενο του κουτιού. */
  
    background-color: rgb(117, 6, 6);
    /* Ορίζει το χρώμα φόντου του κουτιού σε ένα κόκκινο χρώμα με τις τιμές RGB (117, 6, 6). */
  
    border-radius: 10px;
    /* Δίνει στρογγυλεμένες γωνίες στο κουτί με ακτίνα καμπυλότητας 10px. */
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Προσθέτει μια σκιά στο κουτί με διαστάσεις 0px οριζόντια, 4px κάθετα, και διάχυση 8px, με διαφάνεια 10%. Αυτό το κάνει να φαίνεται υπερυψωμένο. */
  
    text-align: center;
    /* Κεντράρει το κείμενο μέσα στο κουτί. */
  
    z-index: 1000;
    /* Ορίζει την προτεραιότητα του κουτιού για να εμφανίζεται πάνω από άλλα στοιχεία (όσο μεγαλύτερη η τιμή, τόσο πιο μπροστά εμφανίζεται). */
  }
  


#task-info-box button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
}


