/* Στυλ για τον πίνακα */
table {
    width: 60%; /* Ορίζει το πλάτος του πίνακα στο 60% */
    border-collapse: collapse; /* Καταργεί τα κενά ανάμεσα στα κελιά του πίνακα */
    margin: 20px; /* Προσθέτει περιθώριο 20px γύρω από τον πίνακα */
}

/* Στυλ για τα κελιά του πίνακα */
th, td {
    border: 1px solid #821279; /* Ορίζει μοβ περίγραμμα στα κελιά του πίνακα */
    text-align: left; /* Τοποθετεί το κείμενο προς τα αριστερά */
    padding: 8px; /* Προσθέτει 8px padding μέσα στα κελιά */
}

/* Στυλ για τα κεφαλαία κελιά του πίνακα */
th {
    background-color: #45083adf; /* Ορίζει μωβ φόντο για τα κεφαλαία κελιά */
}

/* Flex container για κεντραρισμένο στοιχείο με διάταξη */
.flex-container {
    display: flex; /* Χρησιμοποιεί το flexbox για στοίχιση */
    justify-content: center; /* Κεντράρει τα περιεχόμενα οριζόντια */
    align-items: flex-start; /* Τοποθετεί τα περιεχόμενα στην κορυφή του δοχείου */
    margin-top: 20px; /* Προσθέτει 20px περιθώριο στην κορυφή */
}

/* Στυλ για το φίλτρο */
.filter-container {
    margin-right: 20px; /* Προσθέτει περιθώριο δεξιά */
    margin-left: 20px; /* Προσθέτει περιθώριο αριστερά */
    padding: 20px; /* Προσθέτει padding 20px εσωτερικά */
    border: 2px solid #ffffff; /* Ορίζει λευκό περίγραμμα */
    border-radius: 10px; /* Στρογγυλεύει τις γωνίες */
    background-color: #45083adf; /* Ορίζει μωβ φόντο */
}

/* Στυλ για το υποσέλιδο (footer) */
.footer {
    text-align: center; /* Κεντράρει το κείμενο */
    padding: 10px; /* Προσθέτει padding 10px εσωτερικά */
    background-color: #ad2828; /* Ορίζει κόκκινο φόντο */
    color: white; /* Ορίζει λευκό κείμενο */
    position: relative; /* Σχετική τοποθέτηση */
    width: 100%; /* Καλύπτει το πλήρες πλάτος της σελίδας */
    margin-top: 20px; /* Προσθέτει περιθώριο 20px από την κορυφή */
}

/* Στυλ για το κουμπί επιστροφής στην κορυφή */
.go-to-top {
    position: fixed; /* Σταθερή θέση στην οθόνη */
    bottom: 10px; /* Τοποθετείται 10px από το κάτω μέρος */
    right: 10px; /* Τοποθετείται 10px από τη δεξιά πλευρά */
    background-color: #ffffffff; /* Ορίζει λευκό φόντο */
    color: #45083adf; /* Ορίζει το κείμενο σε μωβ */
    padding: 10px; /* Προσθέτει padding 10px */
    border-radius: 5px; /* Στρογγυλεύει τις γωνίες */
    text-decoration: none; /* Αφαιρεί την υπογράμμιση από το σύνδεσμο */
    font-weight: bold; /* Ορίζει έντονη γραμματοσειρά */
}

/* Στυλ για το κουμπί επεξεργασίας */
.edit-button {
    cursor: pointer; /* Αλλάζει τον δείκτη του ποντικιού σε "pointer" */
    color: #ffffff; /* Ορίζει λευκό κείμενο */
    text-decoration: underline; /* Προσθέτει υπογράμμιση στο κείμενο */
}

/* Στυλ για τις ετικέτες φόρμας */
label {
    display: block; /* Τοποθετεί κάθε ετικέτα σε νέα γραμμή */
    font-weight: bold; /* Ορίζει έντονη γραμματοσειρά */
    margin-bottom: 10px; /* Προσθέτει περιθώριο 10px από κάτω */
}
